{% extends "base.html" %}

{% block app_content %}

<div style="margin-top: 50px;">

</div>
<div class="card text-center shadow rounded">
  {% if wallpaper %}
  <img src="{{ wallpaper.url }}" class="card-img-top" alt="...">
  {% else %}
  <img src="{{ url_for('static', filename='images/wallpaper.jpg') }}" class="card-img-top" alt="...">
  {% endif %}

  <div class="card-body">

    <h5 class="card-title">{{ wallpaper.title }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div style="margin-bottom: 50px;">

</div>
{% endblock %}