.content {
  width: 90%;
  font-size: 2rem;
  padding: 0 5% 20vh 5%;
  text-align: center;
  align-items: center;
}

p.card-text {
  display: -webkit-box;
  display: -moz-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /*显示行数*/
}

.cart-font{
  font-size: 14px;
  padding: 10px;
  text-indent: 0;
}
p{
  line-height: 24px;
}
span.tt, span.tt a {
    display: inline-block;
    width: 65px;
    color: #008000;
    text-decoration: none;
}

a{
  color: #333;
  outline: none;
}