{% extends "base.html" %}
<!-- https://www.cnblogs.com/makesense/p/6641181.html -->

{% block content %}

<div id="map" style="width: 1000px; height: 700px;text-align:center;margin:0 auto"></div>

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('#map').vectorMap(
      {
        map: 'cn_merc',
        backgroundColor: 'transparent',
        zoomMin: 0.9, // 鼠标缩放时的最小比例
        zoomMax: 2.4, // 鼠标缩放时的最大比例
        focusOn: {
          x: 0.55,
          y: 2,
          scale: 0.9
        },
        regionStyle: {
          initial: {
            fill: '#e5e5e5',   // 地图颜色
            "fill-opacity": 1, // 省份（州）是否隐藏，鼠标滑动时显示; 1：显示，2：隐藏。
            stroke: 'none',
            "stroke-width": 0,
            "stroke-opacity": 1
          },
          hover: {
            fill: '#ccc',  // 鼠标滑动至某省份的高亮颜色。
            "fill-opacity": 0.8
          },
          selected: {
            fill: 'yellow'
          },
          selectedHover: {}
        },
        markerStyle: {
          initial: {
            fill: '#fd8888', // 足迹位置的填充颜色
            stroke: '#fff'   // 足迹位置的描边颜色
          },
          hover: {
            fill: '#fd2020', // 鼠标滑动至足迹位置后的填充颜色
            stroke: '#fff',  // 鼠标滑动至足迹位置后的描边颜色
            "fill-opacity": 0.8
          },
        },
        markers: [ // 足迹位置

          // {latLng: [经度（保留两位小数）, 纬度（保留两位小数）], name: '城市名称'},
          // 推荐查询经纬度网站：http://www.gpsspg.com/maps.htm 

          { latLng: [39.90, 116.41], name: '北京' },
          { latLng: [31.24, 121.50], name: '上海' },
          { latLng: [22.8002373300, 108.4844970700], name: '南宁' },
          { latLng: [23.1069704800, 113.2435941700], name: '广州' },
          { latLng: [36.5626000400, 100.6951904300], name: '青海湖' },
          { latLng: [30.2889397700, 120.0017738300], name: '杭州' },
          { latLng: [39.8422860200, 119.5024108900], name: '秦皇岛' },
          { latLng: [38.0069841300, 114.4871521000], name: '石家庄' }

        ]
      }
    );
  });
</script>
{% endblock %}