{% extends "base.html" %}

{% block head %}
<style>
  .flex-container {
    overflow: auto;
    display: flex;
    margin: 1em;
  }

  #itemlist {
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap;
    flex-direction: row; */
    column-gap: 10px;
    row-gap: 10px;
  }

  #item {
    background-color: #f0efe2;
    padding: 0 10px 10px 10px;
    /* 强制设置最小宽度 */
    /* flex: 400px; */
    flex-basis: 534px;
  }

  .title {
    font-size: x-large;
    text-align: center;
  }

  .author {
    text-align: right;
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .greenh {
    color: #008000;
  }

  .f14,
  .f14 a {
    font-size: 14px;
  }

  .ml {
    margin-left: 10px;
  }
</style>
{% endblock %}

{% block content %}

<div class="flex-container ">
  <div id="itemlist">
    <div id="item">
      {% for item in items %}
      <div>
        <p class="title"><b>{{ item.title }}</b></p>
        <p class="f14 author">
          <span class="greenh">诗人</span>
          {{item.author}}
          <span class="greenh ml">朝代</span>
          {{item.dynasty}}
        </p>
        <article class="content">
          {{item.paragraphs}}
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}