{% extends "base.html" %}


{% block content %}


<div class="album py-5">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/00.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.song')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>宋词</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/01.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.tang')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>唐诗</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/02.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.sound')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>声律</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/03.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.edubook')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>教科书</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/04.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.poet')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>诗经</h2>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="view overlay">
            <img src="{{ url_for('static', filename='images/05.jpg') }}" width="100%" height="225" class="card-img-top"
              alt="...">
            <a href="{{url_for('tabbar.three')}}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>

          <div class="card-body">
            <h2>三字经</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}