{% extends "base.html" %}

{% block head %}
<style>
  .flex-container {
    background-color: #F4F7F8;
    overflow: auto;
    display: flex;
    margin: 1em;
  }

  #itemlist {
    display: flex;
    flex-flow: row wrap;
     /* flex-wrap: wrap;
    flex-direction: row; */
    column-gap: 10px;
    row-gap: 10px;
  }

  #item {
    background-color: turquoise;
    padding: 0 10px 10px 10px;
    /* 强制设置最小宽度 */
    flex: 200px;
    /* flex-basis: 200px; */
  }
</style>
{% endblock %}

{% block content %}

<div class="flex-container ">
  <div id="itemlist">
    <div id="item">
      <div>
        <p>First article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Second article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Third article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>First article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Second article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Third article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>First article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Second article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
    <div id="item">
      <div>
        <p>Third article</p>
        <article>
          So, this single declaration gives us everything we need — incredible, right? We have our multiple column
          layout
          with
          equal-sized columns, and the columns are all the same height. This is because the default values given
          to
          flex
          items
          (the children of the flex container) are set up to solve common problems such as this.
        </article>
      </div>
    </div>
  </div>
</div>

{% endblock %}